html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eaeaea;
	color: #4d4d4d;
	width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
#page_content {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin: 130px 0 40px 0;
	border: 1px solid #ccc;
	position: relative;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
	height: 460px;
	position: relative;
}

#page_content h1 {
	position: absolute;
	top: -100px;
	width: 100%;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

#header {
	padding-top: 15px;
	border-radius: inherit;
}

#header:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 15px;
	z-index: 2;
	border-bottom: 1px solid #6c615c;
	background: #8d7d77;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
	background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

button.home_button {
	height: 100px;
	width: 350px;
	font-size: xx-large;
	margin-left: 100px;
	margin-top: 75px;
}

div.form_section {
	margin: 10px;
	padding: 5px;
	border: 2px solid #000; 
    line-height: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

button.foot_button {
	width: 200px;
	height: 50px;
	margin-left: 50px;
	margin-bottom: 10px;
	font-size: larger;
}

#history_table {
	width: 90%;
	margin: 20px;
}

div.form_footer{
	height: 60px;
	position: absolute;
	top: 400px;
}

div#loading{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background:white; 
	filter:alpha(opacity:80);
	opacity:0.8;
	z-index:1;
}

img#loading_img{
	margin-left: 250px;
    margin-top: 200px;
    color:#F00; 
}

div#table_container{
	height: 390px;
	overflow:scroll; 
}